/* Estilos gerais */
body {
    margin: 150;
    padding: 100;
    font-family: Arial, sans-serif;
}

/* Estilos da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo img {
    height: 120px;
}

/* Menu */
.menu {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 150;
    padding: 100;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

/* Cor ao passar o mouse e ao clicar */
.menu a:hover {
    background-color: lightblue;
    color: white;
}

.menu a:active {
    background-color: darkblue;
    color: white;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(193, 193, 215);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.dropdown-content li {
    width: 200px;
}

.dropdown-content li a {
    display: block;
    padding: 10px;
    color: blue;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: lightblue;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Links das redes sociais */
.social-links {
    display: flex;
    gap: 10px;
}

.social-links img {
    height: 50px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}


/* Galeria */
.carousel {
    position: relative;
    width: 100%; /* Garante que o carrossel ocupe a largura do container */
    max-width: 1920px; /* Limita a largura máxima */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    border-radius: 10px;
}

/* Botões de controle */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.logo{
    height: 80px;
    padding: 12px 0;
}